body {
    font-family: "Arial", "Helvetica", sans-serif;
}
.menu-opcoes ul li {
    font-size: 15px;
    display: inline;
    margin-left: 20px;
}



header {
    position: absolute;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

footer{
    position: relative;
    bottom: -120px;
    width: 100%;
}

