body {
    font-family: "Arial", "Helvetica", sans-serif;
}
.menu-opcoes ul li {
    font-size: 15px;
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #003366;
}

header {
    position: absolute;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}


.menu-opcoes a:hover {
    color: #007dc6;
}

.menu-opcoes a:active {
    color: #867dc6;
}

footer{
    position: relative;
    bottom: -120px;
    width: 100%;
}

