header {
    position: relative;
    margin-bottom: 100px;
   
}
form{
    border-radius: 10px;
}
footer{
    width: 100%;
	height: 100px;
	padding: 240px;
	margin-top: 100px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.centro{
    text-align: center;
}
.imgDeclaracao{
    margin-bottom: 100px;
    margin-top: 100px;
}
.declaracao{
    margin-bottom: 50px;
   
}
.rodapeDeclaracao{
    margin-bottom: 250px;
}

