body {
    font-family: "Arial", "Helvetica", sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
}


.menu-opcoes ul li {
    font-size: 15px;
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #003366;
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}



footer {
    background-color: black;
}




footer {
    padding: 20px 0;
}

footer .container {
    position: absolute;
}



.menu-opcoes a:hover {
    color: #007dc6;
}

.menu-opcoes a:active {
    color: #867dc6;
}


footer{
    clear: both;
}

.centro {
    margin-left: auto;
    margin-right: auto;

}
